// Brandon, these are all redundant with the rendered styles being inherited
// from the parent theme (colby.edu). We're going to test everything with
// the styles commented out below. If things check out, then these will all
// be deleted and we'll reserve this space for edge cases.
//
// We also will likely remove all redundancies within tailwind.config.js

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

@import '../../../colby-college-theme/src/styles/styles.scss';

// /* Body No Scroll */
// .no-scroll {
//     overflow: hidden;
//     height: 100vh;
// }

// /* Page w/ sidebar content styles */
// .wysiwyg {
//     h2,
//     h3,
//     h4,
//     h5,
//     h6 {
//         @apply font-extended;
//         @apply font-normal;
//     }

//     h2 {
//         @apply text-24;
//         @apply leading-110;
//         @apply -tracking-3;
//     }

//     h3 {
//         @apply text-20;
//         @apply leading-110;
//         @apply -tracking-3;
//         @apply text-indigo;
//     }

//     h4 {
//         @apply text-16;
//         @apply leading-110;
//         @apply -tracking-3;
//         @apply text-indigo;
//     }

//     h5 {
//         @apply text-14;
//         @apply font-bold;
//         @apply leading-130;
//         @apply -tracking-8;
//         @apply text-azure;
//         @apply uppercase;
//     }

//     h6 {
//         @apply text-12;
//         @apply leading-110;
//         @apply -tracking-8;
//         @apply text-azure;
//         @apply uppercase;
//     }

//     .wp-block-paragraph {
//         @apply mb-0;
//         > p {
//             @apply text-indigo-900;
//             @apply mb-4;
//             @apply font-body;
//         }
//     }

//     a {
//         @apply underline;
//         @apply hover:no-underline;
//         @apply hover:text-indigo;
//     }

//     ul:not(.pagination__container):not(.directiory_information) {
//         @apply list-disc;
//         @apply pl-10;
//         @apply text-indigo;
//         @apply mb-4;

//         li {
//             @apply text-indigo-900;
//             @apply mt-2;
//             @apply font-body;
//         }
//     }

//     ol {
//         @apply list-decimal;
//         @apply pl-10;
//         @apply text-indigo;
//         @apply mb-4;

//         li {
//             @apply text-indigo-900;
//             @apply mt-2;
//             @apply font-body;
//         }
//     }

//     ul:not(.pagination__container):not(.directiory_information),
//     ol {
//         ul {
//             @apply list-circle;
//         }

//         ul,
//         ol {
//             ul {
//                 @apply list-square;
//             }
//         }
//     }

//     > p {
//         @apply font-normal;
//         @apply font-body;
//         @apply text-16;
//         @apply leading-140;
//         @apply mb-4;
//         @apply text-indigo-900;
//     }

//     > div {
//         @apply clear-both;
//         @apply mb-20;
//     }

//     > div:last-child {
//         @apply mb-0;
//     }

//     .wp-block-heading {
//         margin-bottom: 0.8rem;
//     }

//     .colby-table-block {
//         td {
//             a {
//                 @apply no-underline;
//             }
//             a:hover {
//                 @apply underline;
//             }
//         }
//     }

//     .colby-paragraph-block {
//         @apply mb-20;
//         @apply font-body;

//         > p {
//             @apply text-indigo-900;
//         }

//         > p,
//         > table,
//         hr {
//             @apply mb-4;
//         }

//         &:last-child {
//             @apply mb-0;
//         }

//         p:last-child,
//         ul:last-child,
//         ol:last-child {
//             @apply mb-0;
//         }

//         table,
//         tr,
//         td {
//             border: 1px solid #ccc;
//         }
//     }

//     .colby-image-text-block {
//         p {
//             @apply mb-4;
//             @apply text-indigo-900;
//             @apply font-body;
//         }
//     }

//     .colby-accordion-block {
//         p {
//             @apply mb-4;
//             @apply text-indigo-900;
//         }

//         p,
//         ul,
//         ol {
//             @apply font-normal;
//             @apply font-body;
//             @apply text-16;
//             @apply leading-140;
//         }
//     }

//     .wp-block-heading {
//         > h2 {
//             @apply text-indigo;
//         }
//     }

//     .wp-block-embed {
//         .wp-element-caption {
//             @apply font-body;
//             @apply text-indigo-900;
//             @apply font-normal;
//         }
//     }
// }

// /* Directory profile page */
// .directory-person-main {
//     .colby-table-block {
//         margin-top: 0.5rem !important;
//     }
// }

// .list-section__list {
//     li {
//         list-style-type: none;
//         position: relative; /* It's needed for setting position to absolute in the next rule. */
//     }

//     li::before {
//         content: '•';
//         position: absolute;
//         left: -0.7em; /* Adjust this value so that it appears where you want. */
//         font-size: 1.5em; /* Adjust this value so that it appears what size you want. */
//         @apply text-indigo-600;
//     }
// }

// /* Directory Gravity Form */
// .gform_wrapper {
//     input:not([type='file']):not([type='submit']) {
//         border: 1px solid #b7c2d5;
//         border-radius: 3px;
//     }
//     textarea {
//         border: 1px solid #b7c2d5;
//         border-radius: 3px;
//     }
//     select {
//         border: 1px solid #b7c2d5;
//         border-radius: 3px;
//         padding: 5px;
//     }
//     input[type='submit'] {
//         background-color: #002878;
//         border: 2px solid #002878;
//         color: #fff;
//         padding: 5px 12px;
//         cursor: pointer;
//         border-radius: 4px;
//     }
//     input[type='submit']:hover {
//         background-color: #fff;
//         border: 2px solid #002878;
//         color: #003878;
//         padding: 5px 12px;
//         cursor: pointer;
//         border-radius: 4px;
//         text-decoration: underline;
//     }
//     input[type='submit']:focus {
//         background-color: #fff;
//         border: 2px solid #002878;
//         color: #003878;
//         padding: 5px 12px;
//         cursor: pointer;
//         border-radius: 4px;
//         text-decoration: underline;
//     }
//     .remove-field {
//         margin-bottom: 2rem;
//         label {
//             margin-left: 0.5rem;
//         }
//     }

//     .gchoice {
//         label {
//             margin-left: 0.5rem;
//         }
//     }
// }

// @media (max-width: 768px) {
//     .colby-image-text-block {
//         > div > div {
//             flex-basis: auto !important;
//         }
//     }
// }

.accordion {
    &__panel + &__panel {
        // border-top: 1px solid #dcdcdc;
    }

    &__header {
        margin: 0;
    }

    &__button {
        z-index: 10;
        position: relative;
        margin: 0;
        border: 0;
        padding: 20px 14px;
        width: 100%;
        text-align: left;
        appearance: none;
        cursor: pointer;
    }

    &__window {
        margin: 0;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: 0.2s ease-in-out;
    }

    &__content {
        padding: 20px 14px;
    }

    p:nth-child(1) {
        margin-top: 0;
    }

    &__test {
        font-size: 3rem;
        line-height: 1.125;
        font-weight: 700;
    }
}

.intro-context {
    p + p {
        @apply mt-4;
    }
}

form .search-box {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    input.search-bar {
        margin: 0;
        padding: 0 5px;
        width: 100%;
        box-shadow: none;
        border: 0;
        color: #232b3b;
        font-size: 12.5px;
        outline: none;
    }

    input.search-bar-full {
        margin: 0;
        padding: 0 5px;
        height: 100%;
        box-shadow: none;
        border: 0;
        color: #232b3b;
        font-size: 12.5px;
        width: 100% !important;
        outline: none;
    }
    input.search-bar::placeholder,
    input.search-bar-full::placeholder {
        color: #7e8385 !important;
        font-size: 12.5px;
    }

    .drop-down {
        padding-right: 10px;
        display: flex;
        align-items: center;
        position: relative;
        &:before {
            content: '/';
            margin: 0 0.5rem 0 0;
            display: inline-block;
            position: relative;
            bottom: 2px;
            color: #232b3b;
        }
        &:after {
            content: '';
            border-right: 0.5em solid transparent;
            border-left: 0.5em solid transparent;
            border-top: 0.4em solid #002169;
            position: absolute;
            top: 40%;
            left: 80%;
            pointer-events: none;
        }

        div {
            width: 130px;
            select {
                padding-right: 20px;
                height: 100%;
                max-width: 125px;
                box-shadow: none;
                border: 0;
                font-size: 13px;
                color: #232b3b;
                font-size: 12.5px;
                border-radius: 0;
                appearance: none;
                -moz-appearance: none;
                -webkit-appearance: none;
            }
        }
    }

    .drop-down:hover {
        cursor: pointer;
    }

    input[type='image'] {
        background-color: #002169;
    }
}
