{% set searchTabs = [
    {'id': 'librarysearch', 'name': 'LibrarySearch'},
    {'id': 'journalsAndNewspapers', 'name': 'Journals & Newspapers'},
    {'id': 'databases', 'name': 'Databases'},
    {'id': 'researchGuides', 'name': 'Research Guides'},
    {'id': 'specialCollectionsAndArchives', 'name': 'Special Collections & Archives'}
] %}

<div class="tabbable tabs-left bg-lightGray mt-2 mb-6 p-0 flex justify-start" id="librarySearch">
  <section class="nav-section">
    <ul class="lib-search-tab nav nav-tabs list-none m-0 bg-white flex flex-col justify-start relative">
    {% for tab in searchTabs %}
        <li id="{{ tab.id }}" class="{% if loop.first %}active bg-colbyBlue{% endif %} m-0 p-0 h-12 flex items-center hover:bg-lightGray">
          <button onclick="activateTab('{{ tab.id }}')" class="w-full h-full flex items-center {% if loop.first %}text-white{% else %}text-colbyBlue{% endif %}">{{ tab.name }}</button>
        </li>
    {% endfor %}
    </ul>
  </section>
  <section class="content-section">
	<div class="tab-content">
	</div>
</section>
<section class="content-section">
	<div class="tab-content">
    {% include 'libraries-search/search-tabs/librarySearch.twig' %}
	</div>
	</section >
</div>
<script>
    function activateTab(tabId) {
        let tabs = document.querySelectorAll('.nav-tabs li');
        tabs.forEach(function(tab) {
            tab.classList.remove('active');
            tab.classList.remove('bg-colbyBlue');
            tab.querySelector('button').classList.remove('text-white');
            tab.querySelector('button').classList.add('text-colbyBlue');
        });
        let clickedTab = document.getElementById(tabId);
        clickedTab.classList.add('active');
        clickedTab.classList.add('bg-colbyBlue');
        clickedTab.querySelector('button').classList.remove('text-colbyBlue');
        clickedTab.querySelector('button').classList.add('text-white');
    }
</script>
